* { /*Jag använder stjärnan för att få bort margin och padding som finns med som standard*/
    padding: 0;
    margin: 0;
}
body { /*Påverkar alla element inom body-elementet*/
    margin: 0;
    padding: 0;
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
    background-color: rgb(255, 255, 255);
    font-family: 'Cinzel', serif;
    color: goldenrod;
}

a {/* Detta ändrar uteeendet på alla a-element aka länkar*/
    text-decoration: none;
    color: goldenrod;
}

.navbar {/*Denna klass ändrar storlek, position av navbaren och position av element inom navbaren */
    background-color: rgb(255, 245, 245);
    box-shadow: 1px 1px 5px rgb(218, 165, 32);
    position: fixed;
    top: 0;
    width: 100%;
    height: 80px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.logo { /*Storlek och form på logan som finns inom navbaren längst upp på sidan*/
    margin-left: 50px;
    padding: 0;
    width: 60px;
    border-radius: 50%;
}
.logo:hover {/*Effekt på logan när man pekar på den med musen*/
    box-shadow: 1px 1px 10px rgba(218, 165, 32, 0.665);
}

/* Nedan står kod för navbaren. På vissa ställen har jag använt display:none, display:inline-block och display:block istället för flexbox för att det var nödvändigt eftersom flexbox inte har dessa egenskaper*/

nav {/*Påverkar allt som finns inom <nav> taggen och finns nestad inom navbaren. <nav> i sig är ett "parent"-element med flera "child"-element 
    som i mitt fall är listor. */
    width: 100%;
    padding: 0;
    margin: 0;
    display: flex;
    justify-content: flex-end;
}
nav ul { /*Här ändras utseendet på alla listor inom nav-elementet*/
    margin-right: 50px;
    display: flex;
    align-items: center;
    list-style-type: none;
}
nav ul li { /*Här ändras positionen på de individuella punkterna inom listorna i nav*/
    position: relative;
    display: inline-block;
    font-size: 16px;
}
nav ul li a {
    display: block;
    padding: 15px;
    color: goldenrod;
}

nav ul li a:hover {
    text-shadow: 2px 2px 5px rgb(255, 183, 0);
}

nav ul ul { /* Inom nav finns listor med länkar till varje sida. Under varje punkt/länk i denna lista finns ytterliggare listor nestade. 
   position: absolute gör att dessa listor är exakt plaserade under sina "parent"-listpunkter. display: none gör dessa listor osynliga som standard.*/
    background-color: rgb(255, 245, 245, 0.8);
    border-left: 1px solid rgb(255, 201, 64);
    border-right: 1px solid rgb(255, 201, 64);
    border-bottom:1px solid rgb(255, 201, 64);

    position: absolute;
    text-align: left;
    display: none;
}
nav ul ul li { /*Varje punkt inom sublistan tar upp 100% av sin bredd*/
    width: 100%;
}
nav ul li:hover /*När man pekar på de olika punkterna i listorna inom nav-elementet syns dropdown-menu under varje punkt. 
display:block visar elementet som block och börjar på en ny rad och tar upp full bredd*/
    ul {
        display: block;
}

.current-page {
    text-shadow: 2px 2px 5px rgb(255, 183, 0);
    font-size: larger;
}


.banner {
    background-image: url(https://www.kcpinternational.com/wp-content/uploads/2011/12/Mochi-dessert.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    width: 100%;
    height: 300px;
    margin-top: 80px;/*80px avstånd från toppen av sidan eftersom det är där navbaren är*/
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color: goldenrod;
    font-size: 30px;
    box-shadow: 1px 1px 5px rgb(218, 165, 32); 
    text-shadow: 2px 2px 2px rgb(255, 255, 255), 2px 2px 5px rgb(255, 255, 254);
}


.banner-startpage {
    background-image: url(https://www.kcpinternational.com/wp-content/uploads/2011/12/Mochi-dessert.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    width: 100%;
    height: 300px;
    margin-top: 80px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color: goldenrod;
    box-shadow: 1px 1px 5px rgb(218, 165, 32); 
    text-shadow: 2px 2px 3px rgb(255, 255, 255), 2px 2px 10px rgb(255, 255, 255);
    font-size: 20px;
}

button {/*Ändrar utseende på knappar*/
    background: transparent;
    font-family: 'Cinzel', serif;
    font-size: 16px;
    color: goldenrod;
    padding: 10px 30px;
    border: 1px solid goldenrod;
    text-decoration: none;
    cursor: pointer;
    text-align: center;
}

button:hover {/*Effekt/skugga syns under knappen när man pekar på den*/
    text-shadow: 2px 2px 5px rgb(255, 183, 0);
    box-shadow: 1px 1px 10px rgb(218, 165, 32);
}

.container {/*Inom denna har jag flera andra element.*/
    width: 100%;
    margin: auto;
    /* background-color: rgb(0, 255, 255, 0.2); */
    display: flex;
    justify-content: space-around;
}

.side-nav {
    padding: 50px;
    left: 0;
    box-shadow: 1px 1px 5px rgb(218, 165, 32);
    overflow-x: hidden;
}

.side-nav ul {
    list-style-type: none;
}

.side-nav ul li {/*Mellanrum mellan raderna på punkterna i listan*/
    line-height: 30px;

}
.side-nav ul li:hover {/*Effekt på listpunkter när man pekar på de*/
    text-shadow: 2px 2px 5px rgb(255, 183, 0);
}

.column-left, .column-right {/*Två "containers" inom container-elementet så att jag kan placera saker hur som helst på två sidor av sidan*/
    width: 50%;
    padding: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    text-align: center;
}
.column-left {
    margin: 10px 0 10px 10px;
    /* background-color: brown; */
}
.column-right {
    margin: 10px 10px 10px 0;
    /* background-color: green; */
}

.products {
    /* background-color: rgb(255, 255, 255); */
    width:  100%;
    margin: 50px 30px;
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
}

.item {
    /* background-color: white; */
    padding: 10px;
    margin: 1% 0;
    width: 250px;
    height: 350px;
    align-items: center;
}

.item:hover {
    box-shadow: 1px 1px 10px rgb(218, 165, 32);
    transition: 0.3s;
}
.item img {
    max-width: 250px;
    height: auto;
}
.shopping-cart {
    width: 40px;
    height: auto;
    border-radius: 50%;
}

.shopping-cart:hover {
    box-shadow: 1px 1px 10px rgb(255, 212, 105);
}

.liked-items {
    width: 40px;
    height: auto;
    border-radius: 50%;
}

.liked-items:hover {
    box-shadow: 1px 1px 10px rgb(255, 212, 105);
}

.footer {
    margin-bottom: 0;
}




